.slide-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.content-slider::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    /* z-index: -1; */
    height: 100%;
    width: 100%;
}

.owl-dots {
    margin-top: 0!important;
    position: absolute;
    bottom: 3rem;
    right: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 0 10px rgba(255,255,255,0.3); */
    padding: 4px;
    border-radius: 16px;
    background: rgba(0,0,0,.4);
}

.owl-dot {
    margin: 0 4px;
}

.inner-content {
    z-index: 99;
}

.content-slider {
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    /* background-attachment: fixed; */
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}